{% extends 'admin/adminBase.html.twig' %}

{% block main %}

    {% include 'messages/flashMessagesTemplate.html.twig' %}

    <div class="title">
        <h2>Edytuj opis</h2>
    </div>

    <div class="titleH">
        {{ form_start(aboutForm) }}
        {{ form_widget(aboutForm) }}
        {{ form_end(aboutForm) }}
    </div>

{% endblock %}