{% extends 'admin/adminBase.html.twig' %}

{% block main %}
    {% include 'messages/flashMessagesTemplate.html.twig' %}
    <div class="porDel">
        <p>sth</p>
    </div>
    <div class="skillsDel">
        <p>sth</p>
    </div>
    <div class="expDel">
        <p>sth</p>
    </div>
{% endblock %}