{% extends 'admin/adminBase.html.twig' %}

{% block title %}Panel Administratorski - portfolio BSZ - login{% endblock %}

{% block body %}
    {% include 'messages/flashMessagesTemplate.html.twig' %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="loginTitle">
        <h1> Żeby skorzystać z panelu administratora, zaloguj się </h1>
    </div>

    <div class="login">

        <form action="{{ path('app_login') }}" method="post">

            <label for="username">Adres email:</label><br>
            <input type="text" id="username" name="_username" value="{{ last_username }}"/><br>

            <label for="password">Hasło:</label><br>
            <input type="password" id="password" name="_password"/><br>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="_target_path" value="/admin"/>

            <br><button type="submit">login</button>

        </form>

    </div>

{% endblock %}